<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lista de Camisas</title>
</head>

<body>

<h1>Lista de Camisas</h1>

<table border="1" cellspacing="0" cellpadding="4">

    <tr>
        <th>id_camisa</th>
        <th>Marca</th>
        <th>Talla</th>
        <th>Precio</th>
    </tr>

    {% for c in datos %}

    <tr>

        <td>{{ c.id_camisa }}</td>
        <td>{{ c.marca }}</td>
        <td>{{ c.talla }}</td>
        <td>${{ c.precio }}</td>

    </tr>

    {% endfor %}

</table>

</body>

</html>